*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body 
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #a1c4fd, #c2e9fb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 
{
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
}


form 
{
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 300px;
}

label
 {
  display: block;
  margin-bottom: 5px;
  color: #444;
  font-weight: 500;
}

input[type="email"],
input[type="password"]
 {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus 
{
  border-color: #007acc;
  outline: none;
}


input[type="submit"] 
{
  width: 100%;
  padding: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover 
{
  background-color: #005fa3;
}


p 
{
  margin-top: 20px;
  color: #333;
  font-size: 0.95rem;
}


a 
{
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
